<div class="con-central">
    <div class="contact-right">
        <h2>How can we help?</h2>
        <p> Please select a topic below related to your inquiry, if you don't find it, fill out our contact form.
        </p>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button" id="con-help">what if the price
                changes after I make a purchase? </button>
            <button class="btn btn-primary" type="button" id="con-help">Can I track my
                in-home delivery order?</button>
            <button class="btn btn-primary" type="button" id="con-help">How can I find out
                which store carries a specific item?</button>
            <button class="btn btn-primary" type="button" id="con-help">Do you offer
                replacement parts??</button>
            <button class="btn btn-primary" type="button" id="con-help">I need assembly
                instructions for my furniture. Where can I get them?</button>
        </div>
    </div>
</div>
<div class="contact-middle"><br>
    <h1> CONTACT US </h1>
    <h6>
        <p id="left-div">We are here at your service.<br>Your feedbacks are always appreciated. We would love to
            hear from you.</p>
    </h6>
    <div class="contact-Container">
        <form>
        <input type="text" placeholder="Name" name="Name" id="con-inputtext" required><br>
        <input type="text" placeholder="Email" name="email" id="con-inputtext" required><br>
        <input type="text" placeholder="Inquiry for Fashioned Fabrics" name="Name" id="con-inputtext" required><br>
        <input type="text" placeholder="Message" name="message" id="con-message" required><br>
        <button class="btn btn-primary" type="button" id="con-send">Send Email</button>
        </form>
    </div>
</div>
<section>
    <div class="contact-headline">

    </div>
</section>