.footer{
    background-color:#694F5D;

    width:100%;
    height:20%rem;
    margin-top: 210px;
}
.footer-copyright{
    color: whitesmoke;
    text-align: center;
    
}
h5{
    text-align:center;
}
a{
    margin: 5px; 
}
input{
    margin:7px;
    text-align: center;
}
button{
    margin: 2px;
}