<div class="header">
    <nav class="navbar navbar-light bg-light" id="topbar">
        <div class="navbar-brand" href="#">
            <img [src]="imageSrc" alt="" width="54" height="34">
            <a style="color:rgb(253, 0, 156)"> <b>Fashioned Fabrics</b></a>
        </div>
        <nav class="nav nav-pills flex-column flex-sm-row"
            style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
            <a class="flex-sm-fill text-sm-center nav-link " routerLink="home" routerLinkActive="active">Home</a>
            <a class="flex-sm-fill text-sm-center nav-link" routerLink="furniture" routerLinkActive="active">Furniture</a>
            <a class="flex-sm-fill text-sm-center nav-link" routerLink="checkout" routerLinkActive="active">Checkout</a>
            <a class="flex-sm-fill text-sm-center nav-link" routerLink="aboutus" routerLinkActive="active">About Us</a>
            <a class="flex-sm-fill text-sm-center nav-link" routerLink="contactus" routerLinkActive="active">Contact Us</a>
        </nav>

    </nav>
    
</div>
