
    <div class="home-right">
        <img src="../assets/about-us.jpg" width="60%" style="float: right;" height="650px">
    </div>
    
    <div class="about-center">
        <h1> who we are </h1><br>
        <h4 class="about-us-title">FASHIONED FABRICS</h4><br>
        <p>We started as a family working together to build custom furniture for our loved ones as a token of love.
            After receiving so much appreciation as well as requests for multiple orders, we started a family
            business
            and here we are, with 20 store branches in the United states.</p>
        <button class="btn btn-primary" type="button">Read now</button>

    </div>